.bigBox{
    text-align: center;
    background-image: url(../../../assets/images/wallpaperbetter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
   

}
.Box{
    justify-content: center; 
    align-items: center;
    height: 100vh;
  
}
.nameBox{
    
    background-color: #8b898b5e;
    padding: 40px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    /* box-shadow: 1px 1px 3px white, -1px -1px 3px white; */
    /* box-shadow:inset 3px 3px 4px rgb(124, 122, 122),
               inset -3px -3px 4px white; */
    border: white solid;           
    
}
.todotext{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:monospace;
    font-weight: bold;
    /* text-shadow: 3px 3px 2px rgb(170, 168, 168); */
}
.login{
    margin-top: 50px;
}
.loginIcon{
    color: rgb(138, 138, 143);
    pointer-events: stroke;
    cursor: pointer;
}
.loginIcon:active{
    color: blue;
}

/* ======================================== MAT INPUT CSS CHANGE =====================================*/
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(251, 253, 251) !important;
}

::ng-deep .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: rgb(255, 255, 255) !important;;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(252, 252, 252);
     /* opacity: 1!important; */
}
/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(7, 202, 127)!important;
}
/* // mat-input carent color */
::ng-deep .mat-input-element {
    caret-color: rgb(250, 246, 246)!important;
}

